#navbar{background-color: #5d4954;
color: white;}
h1{letter-spacing: 5px;
font-size: 75px;
font-family: cursive;}
h3{font-size: 24px;}
.section1{background-image: url(Images/bg4.jpg);
color: white;
background-repeat: no-repeat;
background-size: 100%;
background-position: center;}
#platform p{font-size: 25px;}
h4{font-size: 15px;}
#body1{background-color: #ffff00;}
h2{text-align: center;
font-size: 40px;}
.card-title{color: black;}
